body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width:100%;
}
.header{
  width:100px;
  background-color: #3CD895;
  width: 100%;
  color: #05386B;
}

.addNote{
  width: 100%;
  margin: 8px;
}

.addNote form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.addNote input{
  margin: 0 8px;
}

form input[type=text]{
  border-radius: 2px;
  border: 1px solid black;
  background: linear-gradient(to right,#8ee4af 50%, white 50%);
  background-position: top right;
  background-size: 200% 100%;
  transition: all .5s ease-out;
  padding: 5px;
}

form input[type=text]:focus{
  background-position: bottom left;
}

.btn-add{
  border: 1px solid black;
  border-radius: 5px;
  background: linear-gradient(to bottom,#379683 50%, white 50%);
  background-size: 100% 200%;
  padding: 8px 24px;
  color: black;
  cursor: pointer;
  background-position: bottom;
  transition: all .5s ease-out;
}

.btn-add:hover{
  background-position: top;
  color: #EDF5E1;
}

.note{
  width:50%;
  padding: 0px 14px;
  border: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #f0f0f0;
  color: #555;
  
}

.note::after{
  position:absolute;
  content: "";
  width:2px;
  height:101%;
  top:0;
  left:24px;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.note h2{
  text-align: start;
  padding: 0 0 0 48px;
  margin: 8px 0;
  overflow: auto;
}

.btn-remove{
  background: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-remove img{
  width:30px
}